/* ---------- Nulstil af mellemrum og Størrelser ---------- */

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}

body {
  background-color: rgb(252, 252, 222);
}

/* Font Import */
@import url("https://use.typekit.net/ztr3ibo.css");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&display=swap");
@import url("https://use.typekit.net/ztr3ibo.css");

/* ---------- Global Variabler til Farver, Fonts og Fonts Størrelser ---------- */
/* Variablen bliver brugt så ledes:  background-color: var(--primereFarve) */
/* understående er eksempler på Variabler */

:root {
  /* ---------- Farver ---------- */
  /* Grundfarver */
  --sort: black;
  --hvid: white;
  --grå: #707070;

  /* Color palette  */
  --pink: #ffbbf9;
  --grøn: #04d98b;
  --blå: #85d3fd;
  --gul: #fddd64;
  --orange: #fc6225;

  /* ---------- Fonts ---------- */
  --overskrift: hegante, sans-serif;
  --overskrift-weight: 900;
  --overskrift-style: normal;
  --brødtekst: "M PLUS Rounded 1c", sans-serif;
  --uiElementer: terfens, sans-serif;
  --uiElementer-weight: 400;
  --uiElementer-style: normal;

  /* Fonts Størrelser */
  --h1: clamp(1.5rem, 5vw, 4rem);
  --h2: clamp(1.3rem, 4.5vw, 3.5rem);
  --h3: clamp(1rem, 4vw, 3rem);
  --h4: clamp(0.8rem, 3.5vw, 2.5rem);
  --h5: clamp(0.5rem, 3vw, 2rem);
  --p: clamp(0.5rem, 2.5vw, 1.5rem);
  --uisize: clamp(2rem 5vw 4.5rem);
}

/* ---------- HEADER ---------- */

header {
  width: 100%;
  height: 100px;
  background-color: var(--blå);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2%;
}

.icons {
  display: flex;
  height: 50px;
  gap: 50px;
  align-items: center;
}

.icons img {
  width: auto;
  height: 40px;
}

.logo {
  width: auto;
  height: 50px;
}

.logooverskift {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logooverskift h1 {
  font-family: var(--overskrift);
  font-size: var(--h1);
}
.orange {
  color: var(--orange);
}
.yellow {
  color: var(--gul);
}
.green {
  color: #02b976;
}
/* ---------- header mobil ---------- */
@media (max-width: 600px) {
  .logo {
    height: 30px;
  }
  .icons img {
    height: 20px;
  }
  .icons {
    gap: 15px;
  }
}
/* ---------- Footer ---------- */

footer {
  background-color: #d5f8fa;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 10%;
  padding: 5%;
  color: var(--grå);
  height: 400px;
  margin-top: 200px;
}
footer h3 {
  font-family: var(--uiElementer);
  margin-bottom: 10px;
}

.footerDiv1 {
  grid-column: 1/2;
  display: grid;
    justify-items: center;
}
.footerDiv2 {
  grid-column: 2/3;
}
.footerDiv3 {
  text-align: center;
  grid-column: 1/3;
}

.footerDiv3 ul {
  display: flex;
  text-align: center;
  justify-content: center;
}

.footerDiv3 img {
  width: 10%;
  margin: 30px;
}
@media (min-width: 600px) {
  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footerDiv2 {
    margin-left: auto;
    margin-right: auto;
  }
  .footerDiv3 {
    grid-column: 3/4;
  }

  .footerDiv3 div{
    display: flex;
    justify-content: center;
  }
}

/** ---------- Filter Folde ud knap ---------- */

.foldout {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 0px;
  transition: 0.5s;
  opacity: 1;
  overflow: hidden;
  box-shadow: rgb(208, 214, 171) 3px 3px 6px 0px inset,
    rgba(254, 255, 221, 0.5) -3px -3px 6px 1px inset;
  gap: 5%;
  row-gap: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 2%;
  align-items: center;
  flex-wrap: wrap;
  background-color: transparent;
}

.sorterKnap {
  width: 150px;
  height: 50px;
  background-color: var(--pink);
  color: var(--hvid);
  border: none;
  border-radius: 15px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  font-family: var(--brødtekst);
}
.foldout button {
  border: none;
  background-color: var(--gul);
  border-radius: 15px;
  width: 100px;
  height: 25px;
  /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
  font-family: var(--brødtekst);
  color: white;
}

.none {
  height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2%;
  /* opacity: 0; */
}
