/* ---------- Nulstil af mellemrum og Størrelser ---------- */

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
img {
  width: 100%;
}
/* Font Import */
@import url("https://use.typekit.net/ztr3ibo.css");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&display=swap");
@import url("https://use.typekit.net/ztr3ibo.css");

/* ---------- Global Variabler til Farver, Fonts og Fonts Størrelser ---------- */
/* Variablen bliver brugt så ledes:  background-color: var(--primereFarve) */
/* understående er eksempler på Variabler */

:root {
  /* ---------- Farver ---------- */
  /* Grundfarver */
  --sort: black;
  --hvid: white;
  --grå: #707070;

  /* Color palette  */
  --pink: #ffbbf9;
  --grøn: #04d98b;
  --blå: #85d3fd;
  --gul: #fddd64;
  --orange: #fc6225;

  /* ---------- Fonts ---------- */
  --overskrift: hegante, sans-serif;
  --overskrift-weight: 900;
  --overskrift-style: normal;
  --brødtekst: "M PLUS Rounded 1c", sans-serif;
  --uiElementer: terfens, sans-serif;
  --uiElementer-weight: 400;
  --uiElementer-style: normal;

  /* Fonts Størrelser */
  --h1: clamp(2rem, 5vw, 4rem);
  --h2: clamp(2rem, 5vw, 3.5rem);
  --h3: clamp(2rem, 5vw, 3rem);
  --h4: clamp(2rem, 5vw, 2.5rem);
  --h5: clamp(2rem, 5vw, 2rem);
  --p: clamp(2rem, 5vw, 1.5rem);
  --uisize: clamp(2rem 5vw 4.5rem);
}
