.overskrift {
  display: grid;
  justify-items: center;
  padding: 80px;
}

.overskrift h2 {
  font-family: var(--overskrift);
  font-size: var(--h2);
  color: green;
  margin-bottom: 30px;
}

/** ---------- Section Der Indholder Artikler ---------- */
.data_products {
  padding-top: 2%;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: var(--gul);
  border-radius: 15px;
}
.products h3 {
  text-align: center;
}

.products img {
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
  padding: 10px;
}

.products {
  display: grid;
  border: 2px var(--gul) solid;
  background-color: var(--gul);
  grid-template-columns: 1fr 2fr;
  border-radius: 15px;
  color: white;
  font-family: var(--brødtekst);
}
.products .info {
  background-color: var(--gul);
  color: white;
  margin: auto;
}

.info {
  display: flex;
  justify-items: left;
  justify-content: space-evenly;
}

.info p {
  font-family: var(--brødtekst);
  font-size: var(--h3);
  font-weight: bold;
}

.vilkaar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.label {
  grid-column: 2/3;
}

.checkbox {
  display: flex;
  align-items: center;
}

.total h3 {
  font-family: var(--brødtekst);
  font-size: var(--h3);
  color: rgb(66, 66, 66);
}

.vilkaar p {
  font-family: var(--brødtekst);
  font-size: 1rem;
  color: rgb(66, 66, 66);
}

.vilkaar h5 {
  font-family: var(--brødtekst);
  font-size: var(--h5);
  text-decoration: underline;
  color: rgb(66, 66, 66);
}

.total {
  display: grid;
  justify-items: right;
  margin-right: 120px;
}

@media (min-width: 600px) {
  .products {
    max-width: 80%;
  }
  label {
    grid-column: 3/4;
  }
}

.displaynone {
  display: none;
}

.tomkurvDiv {
  display: grid;
  justify-content: center;
  padding: 2%;
  color: var(--grå);
  font-family: var(--brødtekst);
  font-size: var(--p);
}
