h1 {
  text-align: center;
  margin: 40px;
  color: green;
}

/** ---------- Section Der Indholder Artikler ---------- */
.data_products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 20px;
  gap: 50px;
  padding-bottom: 2%;
}

.products {
  border: 15px var(--gul) solid;
  border-radius: 30px;
  background-color: var(--gul);
  padding: 10px;

  margin: auto;
}
.products .info {
  display: flex;
  justify-content: space-between;
  background-color: var(--gul);
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
.info p {
  border-left: white 2px solid;
  font-family: var(--brødtekst);
}
.info h3 {
  font-family: var(--brødtekst);
}
.products .foto {
  border-radius: 15px;
  cursor: pointer;
}

.products div {
  padding: 2%;
}

@media (min-width: 600px) {
  .products {
    max-width: 80%;
  }
}

/** ---------- Produkt Hjærte ---------- */

.foto_icon {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: end;
}

.foto_icon img {
  grid-area: 1/1;
}

.full_heart {
  margin: 5px;
  width: 10%;
  cursor: pointer;
}
.tomt_heart {
  margin: 5px;
  width: 10%;
  cursor: pointer;
}

.displaynone {
  display: none;
}

/** ---------- Filter Knap ---------- */

.filterknap {
  display: grid;
  justify-items: center;
}

.unisexh1 {
  font-family: var(--overskrift);
  font-size: var(--h2);
  margin-left: 2%;
  padding-top: 80px;
}
