main {
  margin: 30px;
}

/** ---------- Tilbage Knap ---------- */

button {
  margin: 2%;
  padding: 1% 2% 1% 2%;
  background-color: var(--orange);
  border: none;
  border-radius: 15px;
  color: var(--hvid);
  cursor: pointer;
}

/** ---------- SingleView Container ---------- */
article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  color: var(--grå);
  font-family: var(--brødtekst);
      align-items: center;
}

/** ---------- Produkt Billederne ---------- */
img {
  border-radius: 15px;
}

/** ---------- Produkt Tekst ---------- */

h2 {
  text-align: center;
}

.produktTekst {
  padding: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border: 2px solid var(--orange);
  border-radius: 15px;
}
/** ---------- Produktsection (web format) ---------- */

@media (min-width: 600px) {
  .produktBilleder {
    padding: 30px;
    max-width: 60%;
    margin: auto;
  }
  .produktBilleder h2 {
    margin-bottom: 20px;
  }
}
/** ---------- Kurv Knap ---------- */

.kurven {
  display: flex;
  background-color: var(--grøn);
  font-family: var(--uiElementer);
  place-self: end;
  justify-content: space-evenly;

  max-width: 130px;
}
.kurven p {
  padding-top: 4px;
  padding: 5px;
}

.kurven img {
  max-width: 20%;
}

/** ---------- levering section ---------- */
#levering {
  margin-top: 30px;
}
.leveringsinfo {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border: 2px solid var(--orange);
  border-radius: 15px;
  color: var(--grå);
}
.leveringsinfo h3 {
  font-family: var(--brødtekst);
  text-align: center;
  border-bottom: 2px solid var(--orange);
  padding: 10px;
}
.leveringsinfo p {
  font-family: var(--brødtekst);
  padding: 10px;
}
